dist: trusty
jdk:
  - oraclejdk8
language: java
before-script:
    - ant -f build.xml
script:
    - echo "hello"
notifications:
  email:
    recepients:
      - joey.takeda@gmail.com
    on_success: change 
    on_failure: always
  