os: linux
dist: trusty
jdk:
  - oraclejdk8
language: java
before_script:
    - pip install --user awscli
    - ant -f build.xml
    - mkdir HisRoyalNibs
    - mv site/* HisRoyalNibs
script:
    - aws s3 sync HisRoyalNibs s3://joeytakeda/HisRoyalNibs --acl public-read --delete
notifications:
  email:
    recipients:
      - joey.takeda@gmail.com
    on_success: change 
    on_failure: always
  