


@font-face {
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	src:
		local('EB Garamond'),
		local('EBGaramond'),
		url("../fonts/Garamond.woff") format('woff');
}

@font-face{
    font-family: 'Narcissus';
    font-style: normal;
    font-weight: 400;
    src: local('Narcissus'),
         url("../fonts/Narcissus.otf");
}

/* libre-baskerville-regular - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
       url('../fonts/Libre_Baskerville/libre-baskerville-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Libre_Baskerville/libre-baskerville-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* libre-baskerville-italic - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'),
       url('../fonts/Libre_Baskerville/libre-baskerville-v7-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Libre_Baskerville/libre-baskerville-v7-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* libre-baskerville-700 - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'),
       url('../fonts/Libre_Baskerville/libre-baskerville-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Libre_Baskerville/libre-baskerville-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}