/* MAIN CSS FILE FOR DIGITAL CRITICAL EDITION OF HIS ROYAL NIBS */


/******* START CSS ************/


/********** SCALES  */


:root{

    line-height:1.6;
    --scale: 1.333;
    --base: 1rem;
    font-size:var(--base);
}


body{
    display:flex;
    flex-direction:row;
    font-family: "Libre Baskerville";
}

::selection{
    background:rgba(201, 89, 89,0.4);
}


/* Terms, placenames, and other links; these will
 * be replaced with main a once it's done */

a{
    padding-bottom:.125rem;
    border-bottom: .1rem solid;
    border-bottom-color: rgba(236, 200, 47,0.9);
    transition: border-bottom 0.25s ease-in-out;
    cursor:pointer;
}


a.error{
    border-bottom:none;
    pointer-events:none;
    cursor:inherit;
}

a:hover,
a.active{
       border-bottom-color: rgba(206, 172, 30, 1);

}

a.error:hover{
    border-bottom:none;
}

#index main{
    max-width:60rem;
}
#index-toc{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

#index header{
    background-image: url('../images/gissing2.jpeg');
    width:100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}


#heading-box{
    padding:5rem;
    text-align:center;
}

#heading-card{
    padding:1rem;
    margin:0 auto;
    text-align:center;
    min-height:18rem;
    max-width:75rem;
    background: rgba(234, 234, 234, 0.85);
    border-radius:2rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

#title{
   font-family: "Narcissus";
}

#heading-card  span{
    display:block;
    width:100%;
   
}



#index-toc li{
    display:block;
    margin:0.25rem;
    transition: transform 0.075s ease-in-out, box-shadow 0.075s ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    height:10rem;
    width:8rem;
    overflow:hidden;
}

#index-toc li:hover{
    transform: scale(1.01);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
}

#index-toc a{
    display:flex;
    flex-direction:row;
}

#index-toc .ch-num{
    font-size:500%;
    background:#ccc;
    color:white;
    height:10rem;
    width:8rem;
    line-height:10rem;
    text-align:center;
}

#index-toc .snippet{
    display:none;
}

h1{
    font-size: calc(var(--scale) * 3 * var(--base));
    margin:1rem 0;
}

h2{
    font-size: calc(var(--scale) * 2 * var(--base));
    text-align:center;
    margin:1rem 0;
}

h3{
    font-size: calc(var(--scale) * 1 * var(--base));
    margin:1rem 0;
}

h4{
    font-size: calc(var(--scale) * 1 * var(--base));
    margin:1rem 0;
}



aside{
    height:100vh;
    overflow-y:scroll;
    max-width:100%;
    min-width:20%;
    position:sticky;
    top:0;
    border-right:1px solid #ccc;
    font-size:.85rem;
}

aside + main{
    padding-left:2em;
}


aside li{
    padding:1em;
    border-bottom:1px solid #ccc;
}

aside a{
    border-bottom:none;
}

aside a:hover{
    border-bottom:none;
}
li:last-child{
    border-bottom:none;
}

article{
    padding:3% 7%;
    max-width:40rem;
}

[data-el='p']{
    margin-top:1rem;
    line-height:1.85;
}

li li{
    padding-left:.5rem;
}

.current{
    font-weight:bold;
}


/* Hide the stutter tokens, which are only necessary for indexing */
.stutterToken{
    display:none;
}
/* Don't show these for now */
br, [data-el='fw'], hr, [data-el='pc']{
    display:none;
}

/* ********************* EDITORIAL NOTES AND QUESTION NOTES */

/* Everything in the appendix can be hidden now */

#appendix{
    display:none;
}

.noteMarker{
    font-size: 0.9rem;
    vertical-align: super;
    padding: 0.25rem 0.5rem;
    opacity: 0.75;
    transition: opacity 0.25s;
    background-color: #efefef;
    border-radius: 1rem;
    color: black;
    border: none;
}

.noteMarker:hover{
    opacity:1;
}

[data-type='questionForMC']{
    width: 10rem;
    float: right;
    background:white;
    clear: both;
    margin-right: -13rem;
    padding: 0.5rem;
    border: 1px dashed #ccc;
    font-size: 0.8rem;
    display: inline-block;
}

[data-type='question']:hover{
     background: pink;
}

[data-type="question"]:hover > [data-el='note']{
    border-color:red;
}


/********************************************************* POPUPS */


#popup{
    position: fixed;
    height:20rem;
    right:0;
    bottom:0;
    width:30rem;
    border-radius: .25rem;
    border: 1px solid rgba(40,40,40,.08);
    background: white;
    overflow-y: scroll;
    transition: transform 0.5s ease-in-out;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    box-shadow: 1px 1px 6px 1px #ccc;
    display: flex;
    flex-direction:column;
    transform:translateY(20.2rem);
}

#popup.big{
    height:30rem;
    width:45rem;
    transform:translateY(30.2rem);
}

#popup_controls{
    width:100%;
    display:flex;
    justify-content:space-around;
}

#popup_controls > span{
    opacity: 0.7;
    cursor: pointer;
}

#popup_controls .disabled{
    opacity:0.4;
    cursor:inherit;
}

#popup_closer{
    font-weight: 200;
    font-size: 120%;
    padding:0 3rem;
}


.map{
    width:35rem;
    margin:1rem;
    min-height:20rem;
    max-height:30rem;
}


#popup.enabled{
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}


#popup_content{
    margin:0 0 1rem 1.2rem;
    font-size:90%;
}



[data-el='gloss']{
    margin-bottom:1.25rem;
}

[data-el='gloss'] .abbr{
    font-weight:bold;
}
[data-el='gloss'] .content{
    margin-left:0.5rem;
}






#popup_controls > span:not(.disabled):hover{
    opacity:1;
    transition:opacity 0.25s ease-in-out;
}


/***************************************************** END POPUPS  */






