/* MAIN CSS FILE FOR DIGITAL CRITICAL EDITION OF HIS ROYAL NIBS */


/******* START CSS ************/


:root{
    font-size:1em;
    line-height:1.6;
}


body{
    display:flex;
    flex-direction:row;
    font-family: "Libre Baskerville";
}

::selection{
    background:rgba(201, 89, 89,0.4);
}
#index main{
    max-width:60rem;
}
#index-toc{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

#index header{
    background-image: url('../images/gissing2.jpeg');
    width:100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}


#heading-box{
    padding:5rem;
    text-align:center;
}

#heading-card{
    padding:1rem;
    margin:0 auto;
    text-align:center;
    min-height:18rem;
    max-width:75rem;
    background: rgba(234, 234, 234, 0.85);
    border-radius:2rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

#title{
   font-family: "Narcissus";
   font-size:550%;
}

#heading-card  span{
    display:block;
    width:100%;
   
}



#index-toc li{
    display:block;
    margin:0.25rem;
    transition: transform 0.075s ease-in-out, box-shadow 0.075s ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    height:10rem;
    width:8rem;
    overflow:hidden;
}

#index-toc li:hover{
    transform: scale(1.01);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
}

#index-toc a{
    display:flex;
    flex-direction:row;
}

#index-toc .ch-num{
    font-size:500%;
    background:#ccc;
    color:white;
    height:10rem;
    width:8rem;
    line-height:10rem;
    text-align:center;
}

#index-toc .snippet{
    display:none;
}

h2{
    font-size:1.85rem;
    text-align:center;
    margin:1rem 0;
}


aside{
    height:100vh;
    overflow-y:scroll;
    width: 18rem;
    position:sticky;
    top:0;
    border-right:1px solid #ccc;
    font-size:.85rem;
}

aside + main{
    padding-left:2em;
}


aside li{
    padding:1em;
    border-bottom:1px solid #ccc;
}

li:last-child{
    border-bottom:none;
}

article{
    padding:3% 7%;
    max-width:40rem;
}

[data-el='p']{
    margin-top:1rem;
    line-height:1.85;
}

li li{
    padding-left:.5rem;
}

.current{
    font-weight:bold;
}


/* Don't show these for now */
br, [data-el='fw'], hr, [data-el='pc']{
    display:none;
}


.noteMarker{
    font-size:.75rem;
    vertical-align:super;
    padding-left:0.1rem;
    opacity:0.5;
    transition:opacity 0.25s;
}

.noteMarker:hover{
    opacity:1;
}

/* Terms, placenames, and other links; these will
 * be replaced with main a once it's done */

[data-el='term'], [data-el='placeName']{
    padding-bottom:.125rem;
    border-bottom: .1rem solid;
    border-bottom-color: rgba(236, 200, 47,0.9);
    transition: border-bottom 0.25s ease-in-out;
    cursor:pointer;
}

[data-el='term']:hover, [data-el='placeName']:hover{
       border-bottom-color: rgba(206, 172, 30, 1);


}






